/* Account Management Styles */

th {
	font-size: x-large;
	font-weight: bold;
	text-align:right;
	border-right: 1px white solid;
	padding-right:5px;
}
td {	
	padding:10px;
}
td td {
	padding:0px;	
}
table {
	border-spacing: 10px;
}
table table {
	border-spacing: 2px;
}
