/* Generic Defs ########################################################### */
body {
	padding: 0;
	margin: 0;
	background-color: #244369;
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
	color: white;
}
a {
	text-decoration: none;
	color: #97D7D0;
}
img {
	border:0;
}
ul {

}
a:hover{
	text-decoration:underline;
}
h1 {
	margin-top: 0;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: white;
}
/* Text formatting defs ########################################################### */ 
.smalltitle {
	font-weight:bold;
}
.hidden {
	display: none;
}

.centered {
	text-align:center;
}
.error {
	background: #FFB3B3;
	border: 1px red solid;
	padding: 3px;
	color: black;
	list-style: none outside;
}
.error a, .info a{
	color:maroon;
}
.info {
	background: #FFFF88;
	border: 1px solid #AEAE00;
	padding: 3px;
	color: black;
}


/* Container Defs ########################################################### */
#mainContainer {
	clear: both;
	padding-bottom:50px;
}
#horizontal_sizer {
	width: 1000px;
	height: 1px;
}
#betatesters {
	background:black;
	color:white;
	border: 1px white solid;
	width:140px;
	text-align:center;
	text-transform:lowercase;
	font-size:16px;
	position:absolute;
	top:100px;
	left: 50%;
	margin-left: -70px;
}
#betatesters a {
	display:block;
	color:yellow;
}

/* Header Defs ########################################################### */ 
#header {
	height: 100px;
/*	background-color: #E3DAB5;*/
	background-color: white;
}
#header_right a, #content_info a {
	color: #8A1C02;
}
#header_shadow {
	height:27px;
	background-image:url('../images/shadow.png');
}
#sitelogo {
	position:relative;
	float:left;
}
#header_logo {
	position:absolute;
	top:20px;
	left:10px;		
}

#header_right {
	position:absolute;
	right: 0;
	top: 0;
	height:100px;
	overflow:hidden;
	color:black;
}

#header_login {
	position:absolute;
	top:15px;
	right:25px;
}
#header_menu {
	position:relative;
	margin-top:67px;
	margin-right:10px;
	font-size:16px;
}

#header_menu ul {
	list-style:none;
}
#header_menu ul li {
	display: inline;
}
#header_menu a{
	padding: 15px;
	color:black;
}
#header_menu a:hover{
	text-decoration: none;
	background: #2D2D2D;
	color: white;
}
/* Sidebar defs ########################################################### */
#sidebar {
	float:right;
	margin-top:10px;
	width:250px;
	background:white;
	color:black;
	margin-right:40px;
}
#sidebar img {
	background:black;
}
#sidebar p {
	margin-bottom:5px;
	margin-top:5px;
}
#sidebar a {
	color:#B36517;	
}
#sidebar_inner {	
	margin:5px;
}
.sidebar_header {
	text-decoration: underline;
	font-weight: bold;
	font-size: large;
	text-align: center;
	margin:0;
}

/* Content defs ########################################################### */
#content {
	padding:10px 30px 0px 30px;
	margin-left:auto;
	margin-right:auto;
	
}

#content_header {
	font-size: xx-large;
	font-weight: bold;
	margin-bottom:10px;
}
#content_info {
	background:white;
	color:black;
	padding:20px;
}
#content_info img {
	width:320px;	
	height:240px;
	float:left;
}
#content_actionbuttons {
	text-align:center;
	margin-top:50px;
	margin-bottom:20px;
}
#content_actionbuttons li {
	display:inline;
}
#content_actionbuttons li a {
	padding:20px;
	background:#CFCFCF;
	color:black;
}
#content_actionbuttons li a:hover {
	
}

/* Footer defs ########################################################### */
#footer {
	padding: 5px;
	color: #CCCCCC;
	font-family:"Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}