/* Home Page Stylesheet */

#homecontainer {
	margin-right: 241px;
}

#newposts {
	width: 224px;	
	float:right;

}
#newposts a{

}
#newposts h1 {
	text-align:center;
}

#categories {
	margin-left:50px;
}
.buttonshadow {
	background-image:url('../images/buttonshadow.png');
	background-repeat:no-repeat;
	background-position:left top;	
	display:inline-block;
}
.button {
	overflow: hidden;	
	margin-right:16px;
	margin-bottom:16px;
}
.button a {
	display:block;
	height:180px;
	width:202px;
	background: black;
	color: white;
	text-align: center;
	
}
.button:hover {
	
}
.button a:hover {
	text-decoration: none;
	background: #292F3F;
}
