/* Home Page Stylesheet */

#homecontainer {
	margin-right: 300px;
}

#newposts {
	width: 250px;	
	float:right;

}
#newposts a{

}
#newposts h1 {
	text-align:center;
}

.button {
	width: 202px;
	background: black;
	margin: 10px;
	text-align: center;
	display: inline-block;
	height: 180px;
	overflow: hidden;
	padding: 10px;
	color: white;
	opacity: 1;
}
.button:hover {
	opacity:.8;
	text-decoration:none;
}
