/* Post View - home/view/$id */

.datestamp {
    float: right;
    font-size: medium;
    font-weight: normal;
    margin-top: 12px;}

.success .congrats {
	font-size: x-large;
	font-weight: bold;
}
